<h1 class="mb3">Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <tbody data-js-users></tbody>
</table>