<h3 class="text-center mb2">Endpoints</h3>
<table class="table">
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>Textstatus</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody data-js-endpoints></tbody>
</table>
