body {
  font-family: "Times New Roman";
  font-weight: 100;
}

fieldset {
  margin: 0 auto;
  width: 300px;
  border: 0px;
  font-size: 30px;
}

dt {
  /*border-bottom: 1px solid grey;*/
  font-size: 20px;
}

dd {
  margin: 0;
}

dd.info {
  font-size: 15px;
}

input {
  width: 100%;
  padding: 0;
}

input[type=password] {
  height: 30px;
  font-size: 17px;
}

input[type=submit] {
  background: #0088CC;
  border: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
}