<h1 class="mb3">Ingredients</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody data-js-ingredients></tbody>
</table>