<div class="row ingredient-item">
  <div class="col-md-4">
    <input type="text" class="ingredient-name form-control typeahead" placeholder="Plomme" data-js-name>
  </div>
  <div class="col-md-4">
    <input type="number" class="ingredient-amount form-control" min="0" placeholder="Antall/mengde" data-js-amount>
  </div>
  <div class="col-md-3">
    <select class="ingredient-unit form-control" data-js-unit>
      <option value="gram">Gram</option>
      <option value="cup">Kopp</option>
      <option value="liter">Liter</option>
      <option value="stk">Stk</option>
      <option value="pinch">Klype</option>
      <option value="basket">Kurv</option>
    </select>
  </div>
  <div class="col-md-1">
    <button class="btn btn-small btn-danger" data-js-delete>Fjern</button>
  </div>
</div>