<h1 class="mb3">Create new recipe</h1>
<div class="row" data-js-name></div>
<div class="row" data-js-tags></div>
<div class="row" data-js-time></div>
<div class="row" data-js-language></div>
<div class="row" data-js-description></div>
<div class="row" data-js-procedure></div>
<div class="row" data-js-strength></div>
<div class="row" data-js-difficulty></div>
<div class="row" data-js-ingredients></div>
<div class="row" data-js-author></div>
<div class="row">
  <div class="col-md-12">
    <p>JSON:</p>
  </div>
</div>
<div data-js-result></div>