<label>
  Tid
</label>
<div class="row">
  <div class="btn-group col-md-12" role="group">
    {{#each times}}
      <button type="button" class="btn btn-default" value="{{minutes}}" data-js-time>{{hourmins}}</button>
    {{/each}}
  </div>
</div>