<h1>Recipes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Calories</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Created by (id)</th>
    </tr>
  </thead>
  <tbody data-js-recipes></tbody>
</table>