<div class="row">
  <div class="col-md-8">
    <h1>Recipes</h1>
  </div>
  <div class="col-md-4">
    <a href="#recipes/new" class="btn btn-primary btn-lg pull-right">Add new recipe</a>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Calories</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Created by (id)</th>
    </tr>
  </thead>
  <tbody data-js-recipes></tbody>
</table>