<h2>About</h2>
  <p>Eatelligent er en mobil app som skal gjøre det enklere for folk å velge hva de skal lage til middag. Appen
    inneholder mange middagsoppskrifter, og ved å lære å kjenne brukeren, vil den gi bedre og bedre
    midagsannbefalninger som er tilpasset hver enkelt bruker. Den er laget for alle som lager middag ukentlig og
    liker å prøve nye oppskrifter
  </p>
  <p>
    Annbefalingene baseres i stor grad på en stjerne-vurdering som du som bruker kan gi oppskriftene. Ved å se på
    andres brukeres vurderinger, kan vi finne oppskrifter som lignende brukere liker godt, men som du ikke har prøvd
    enda. Vi vil også tilegne oss kunnskap om hvilke ingredienser du foretrekker. Husk å gi oppskriftene du lager en
    vurdering, slik at vi kan gi deg bedre anbefalinger i fremtiden.
  </p>