@(isDevelopment: Boolean)

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Interface</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'> -->
    @defining(if (!isDevelopment) "https://s3-eu-west-1.amazonaws.com/mealchooser-admin/builds/css/main.css" else "") { src =>
      <link rel="stylesheet" type="text/css" href="@src"></link>
    }
    @defining(if (isDevelopment) "/assets/javascripts/admin/loader.js" else "https://s3-eu-west-1.amazonaws.com/mealchooser-admin/builds/js/mealchooser-admin.js") { src =>
      <script type="text/javascript" id="loader" src="@src"></script>
    }
  </head>
  <body></body>
</html>