@(languages: List[Language])

@main("osm way database") {
<h2>Insert a osm way here:</h2>

<form action="@routes.Application.insert()" method="POST">
    <input name="id" type="text" placeholder="id"/>
    <input name="locale" type="text" placeholder="location of the way"/>
    <input name="name" type="text" placeholder="enter your tags"/>
    <button>Add</button>
</form>

<h2>Previously inserted languages:</h2>
<table>
    <tr><th>locale</th><th>name</th></tr>
    @for(c <- languages){
    <tr><td>@c.locale</td><td>@c.name</td></tr>
    }
<table/>

}
