<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recipe builder</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/styles.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script>
  </head>
  <body>
    <div id="main">
      <h1>Opprettelse av oppskrifter for Mealchooser</h1>
      <!-- <form method="post"> -->

        <!-- Recipe name -->
        <div class="span1of1">
          <label for="name">
            Navn
            <input type="text" id="name" placeholder="Recipe name">
          </label>
        </div>

        <!-- Tags -->
        <div class="span1of1">
          <label for="tags">
            Tags
            <input type="text" id="tags" placeholder="Meksikansk, Taco, Digg...">
          </label>
        </div>

        <!-- Time to make -->
        <label for="time">Tid</label>

        <div class="button-group time span1of1"></div>

        <!-- Recipes language -->
        <div class="span1of1">
          <label for="language">
            Språk
            <select id="language">
              <option value="5">Norsk</option>
              <option value="6">Engelsk</option>
            </select>
          </label>
        </div>

        <!-- Recipes Image -->
        <div class="span1of1 image-section">
          <div class="upload-files">
            <label for="image">
              Lokalt bilde
              <input type="file">
            </label>
          </div>
          <div class="or">ELLER</div>
          <div class="url-upload">
            <label for="image">
              Eksternt bilde
            </label>
            <input type="text" placeholder="URL (funker ikke)" disabled>
          </div>
        </div>

        <div class="preview">
          <img id="preview" />
        </div>

        <!-- Description -->
        <div class="span1of1">
          <label for="description">
            Beskrivelse
            <textarea id="description" placeholder="Markdown :)"></textarea>
          </label>
        </div>

        <!-- Procedure -->
        <div class="span1of1">
          <label for="procedure">
            Fremgangsmåte
            <textarea id="procedure" placeholder="Markdown :)"></textarea>
          </label>
        </div>

        <!-- Strength -->
        <label for="time">Styrke</label>

        <div class="button-group strength span1of1">
          <label>
            <input type="radio" name="button-group-strength" value="1" checked="">
            <span class="button-group-item">1</span>
          </label>
          <label>
            <input type="radio" name="button-group-strength" value="2">
            <span class="button-group-item">2</span>
          </label>
          <label>
            <input type="radio" name="button-group-strength" value="3">
            <span class="button-group-item">3</span>
          </label>
        </div>

        <!-- Ingredients -->
        <div class="span1of1">
          <label for="ingredients">Ingredienser</label>
          <div class="ingredients-wrapper">
            <div class="ingredient">
              <div class="span1of3">
                <input type="text" class="ingredient-name" placeholder="Plomme">
              </div>
              <div class="span1of3">
                <input type="number" class="ingredient-amount" min="0" placeholder="Antall/mengde">
              </div>
              <div class="span1of3 last">
                <select class="ingredient-unit">
                  <option value="gram">Gram</option>
                  <option value="cup">Kopp</option>
                  <option value="liter">Liter</option>
                  <option value="stk">Stk</option>
                  <option value="pinch">Klype</option>
                  <option value="basket">Kurv</option>
                </select>
              </div>
            </div>
          </div>

          <button data-js-new-ingredient>Legg til ny ingrediens</button>
        </div>

        <!-- Author -->
        <label for="author">Forfatter</label>
        <div class="span1of2">
          <label for="first-name">
            Fornavn
            <input type="text" id="first-name" placeholder="Even">
          </label>
        </div>
        <div class="span1of2 last">
          <label for="last-name">
            Etternavn
            <input type="text" id="last-name" placeholder="Lislebø">
          </label>
        </div>
        <!-- <div class="span1of3 last">
          <label for="email">
            E-mail
            <input type="text" id="email" placeholder="">
          </label>
        </div> -->

        <!-- Submit -->
        <div class="span1of1">
          <input type="submit" class="pull-right" value="Vis i JSON">
        </div>
      <!-- </form> -->
    </div>

    <pre id="result"></pre>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/recipe.form.js")"></script>
  </body>
</html>