@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader)

@import controllers.routes
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Interface</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/forgot-password.css" />
  </head>
  <body>
    @passwordsForm.globalError.map { error =>
      Passwords does not match!
    }
    @helper.form(routes.CredentialsAuthController.handleResetPassword(tokenId)) {
      <fieldset>
        <legend>Reset your password</legend>
        @helper.inputPassword( passwordsForm("Password"), '_hiddenLabel -> "Password", 'placeholder -> "password",
          'autofocus -> true )
        @helper.inputPassword( passwordsForm("Repeat password"), '_hiddenLabel -> "Repeat password", 'placeholder ->
                "repeat password" )
        <input type="submit" value="Reset">
      </fieldset>
    }
  </body>
</html>